<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">

            <div class="card">
                <div class="card-body">
                    <form action="/links/add" method="POST">
                        <div class="form-group">
                            <textarea name="descripcion" rows="2" class="form-control" placeholder="Descripcion" autofocus></textarea>
                        </div>
                        <div class="form-group">
                            <input type="text" name="planta" class="form-control" placeholder="Planta">
                        </div>
                        <div class="form-group">
                            <input type="date" name="fechaConstruccion" class="form-control" placeholder="Fecha de Construcción">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>